{% extends "base.html" %}
{% load static %}

{% block title %}
    LMS
{% endblock %}

{% block content %}
<div class="index-header">
    <h1>Choose A Career</h1>
</div>
<div class="card-container">
    <div class="card">
        <img src="{% static 'images/USA.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Computer Science</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="{% url "usa" %}" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Canada.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Engineering</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Australia.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Litreture</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Malaysia.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Education</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Germany.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Law</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Swiz.jpg' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Finance</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Dubai.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Creative Arts</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Visa.jpg' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Business Management</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
</div>
{% endblock %}