{% extends "base.html" %}
{% load static %}

{% block title %}
    EduCare LMS
{% endblock %}

{% block content %}
<div class="index-header">
    <h1>Choose A Destination</h1>
</div>
<div class="card-container">
    <div class="card">
        <img src="{% static 'images/USA.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>USA</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="{% url "usa" %}" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Canada.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Canada</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Australia.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Australia</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Malaysia.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Malaysia</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Germany.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Germany</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Swiz.jpg' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Switzerland</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Dubai.png' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Dubai</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'images/Visa.jpg' %}" alt="Country Flag" srcset="">
        <div class="card-content">
            <h1>Visas</h1>
            <p>Courses will be Available soon, so just hang on tight.</p>
            <a href="#" class="card-button">View Courses</a>
        </div>
    </div>
</div>
{% endblock %}